<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477025913435-e3fijpas6o91kna2g2gpfd1sce39854a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477025913435-e3fijpas6o91kna2g2gpfd1sce39854a</string>
	<key>API_KEY</key>
	<string>AIzaSyBbHLphRsC66RjH3ukjSa-U2LQyLafnbTs</string>
	<key>GCM_SENDER_ID</key>
	<string>477025913435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sea.image</string>
	<key>PROJECT_ID</key>
	<string>image-4f1b5</string>
	<key>STORAGE_BUCKET</key>
	<string>image-4f1b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477025913435:ios:51db52587062f34fc50d7e</string>
</dict>
</plist>